{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}

    <h1 class="my-3">Trackers for  {{case.case_number}}</h1>

    <table class="table table-bordered table-hover table-sm align-middle table-dark table-striped" style="position:relative;max-width:100%">
        <thead class="table-dark">
            <tr>
                <th>Időpont</th>
                <th>IP cím</th>
                <th>User Agent</th>
                <th>Captured Images</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objs %}
            <!-- Fő adatok -->
            <tr>
                <td style="white-space:nowrap">
                    <strong>{{ obj.created }}</strong>
                </td>
                <td>
                    <strong>{{ obj.x_forwarded_for }}</strong>
                </td>
                <td style="white-space:wrap" colspan="2">
                    {{ obj.user_agent }}
                </td>
            </tr>
            <!-- Kiegészítő adatok -->
            <tr class="">
                <!-- Behúzás -->
                <td><i class="bi bi-arrow-right-square"></i></td>
                <td>
                    Platform:
                    {{ obj.platform }}
                </td>
                <td>
                    <i class="bi bi-geo-alt mr-2"></i> {{ obj.latitude }}, {{ obj.longitude }} |
                    <i class="bi bi-cursor mr-2"></i> {{ obj.accuracy }} méter
                </td>
                <td>
                    <a href="{% url 'show_captured_images' obj.pk %}" style="text-decoration: none" class="text-info" >
                        <i class="bi bi-camera mr-2"></i> {{obj.get_camera_captures.all.count}}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>






{% endblock content %}