{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}


    <a href="{% url 'create_case_view' %}" class="badge text-bg-info p-3 my-2"><i class="bi bi-plus-square p-1 m-1"></i>Új bűnügy hozzáadása</a>



<table class="table table-bordered table-hover table-sm align-middle table-dark table-striped" style="position:relative;max-width:100%">
<thead class="table-dark">
    <tr>
        <th>Case Number</th>
        <th>Created at</th>
        <th>Description</th>
        <th>Tracker View</th>

    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <!-- Fő adatok -->
    <tr>
        <td style="white-space:nowrap">
            <strong>{{ obj.created }}</strong>
        </td>
        <td>
            <a href="{% url 'show_trackers_view' case_id=obj.pk %}" style="text-decoration:none" class="text-info">
                    {{obj.case_number}}
            </a>
        </td>
        <td>{{obj.description}}</td>
        <td>
            <a href="{% url 'show_trackers_view' case_id=obj.pk %}" style="text-decoration:none" class="text-info">
                    <i class="bi bi-eye"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock content %}
