{% extends 'main/base.html' %}

{% block content %}


<div class="card" style="width:100%;text-align:left">
    <a href="{% url 'create_case_view' %}" class="button">Új bűnügy hozzáadása</a>

    <h1 class="my-3">Bűnügy Lista </h1>
    {% for obj in objs %}
        <div class="row">
            <div class="col col-3 text-light">{{obj.case_number}}  </div>
            <div class="col col-7 text-light">{{obj.description}}  </div>
            <div class="col col-2 d-flex justify-content-end"><a href="{% url 'show_trackers_view' case_id=obj.pk %}">Megtekintés</a> </div>

        </div>
    {% endfor %}
</div>


{% endblock content %}
