* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, "Segoe UI", sans-serif;
}

label {
    color:#94a3b8;
}

body {
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: #05070d;
    color: white;

    background:
        radial-gradient(circle at 20% 30%, rgba(0,255,255,.15), transparent 30%),
        radial-gradient(circle at 80% 70%, rgba(120,0,255,.18), transparent 30%),
        linear-gradient(120deg, #05070d, #111827, #05070d);

}




.card {
    position:relative;
    z-index:2;
    width:min(90%,430px);
    padding:40px 35px;
    border-radius:24px;
    margin:100px auto;

    background:rgba(15,23,42,.75);
    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
        0 0 50px rgba(0,255,255,.12),
        inset 0 0 30px rgba(255,255,255,.03);

    text-align:center;
}

.logo {
    width:70px;
    height:70px;
    margin:auto auto 25px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #00ffff,
        #7c3aed
    );

    font-size:32px;
    box-shadow:0 0 35px rgba(0,255,255,.5);
}

h1 {
    font-size:28px;
    margin-bottom:15px;
    color: #CFFF04;
}

p {
    color:#cbd5e1;
    line-height:1.6;
    margin-bottom:30px;
    font-size:15px;
}

.permissions {
    display:flex;
    gap:12px;
    margin-bottom:30px;
}

.item {
    flex:1;
    padding:15px;
    border-radius:14px;

    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);

    font-size:13px;
    color:#94a3b8;
}

button {
    width:100%;
    padding:16px;

    border:none;
    border-radius:14px;

    background:linear-gradient(
        135deg,
        #06b6d4,
        #7c3aed
    );

    color:white;
    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}
.button {
    width:100%;
    padding:16px;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:14px;

    background:linear-gradient(
        135deg,
        #06b6d4,
        #7c3aed
    );

    color:white;
    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}
button:hover {
    transform:translateY(-2px);
    box-shadow:0 10px 30px rgba(124,58,237,.4);
}

#status {
    margin-top:20px;
    font-size:14px;
    color:#94a3b8;
}

@media(max-width:500px){
    .card {
        padding:30px 22px;
    }

    h1 {
        font-size:24px;
    }
}
